<header class="header" [class.scrolled]="isScrolled">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
    ><h1 class="header__title">
      Clima<span class="header__title--highlight">Tour</span>
    </h1></a
  >
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list-item">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li class="nav__list-item">
        <a
          routerLink="/prediction"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Itinerary</a
        >
      </li>
    </ul>
  </nav>
</header>
