.main {
  @apply relative w-full min-h-screen;

  &__loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    &-item {
      border: 8px solid rgba(255, 255, 255, 0.3);
      border-top: 8px solid #ffffff;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
    }
  }

  &__img {
    @apply absolute w-full h-full object-cover saturate-150 brightness-50;
  }

  &__content {
    @apply absolute inset-0 text-white text-center flex flex-col justify-center items-center px-4 space-y-6;

    &-title {
      @apply font-playfar font-black text-4xl lg:text-6xl;
    }

    &-description {
      @apply font-roboto font-light lg:text-lg;
    }

    &-select {
      @apply font-roboto bg-transparent border-b-2 text-center text-white hover:border-b-primary_orange hover:transition-colors w-56 md:w-64 lg:w-96 lg:text-lg border-b-white;

      &-option {
        @apply bg-gray-800 text-sm;
      }
    }

    &-button {
      @apply p-2 rounded-full font-bold text-white bg-gray-400/45 hover:bg-primary_orange hover:transition-colors flex items-center justify-center space-x-2 shadow-xl lg:text-lg;

      &-circle {
        @apply bg-white rounded-full p-1 flex justify-center items-center;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
