<footer class="footer">
  <section class="footer__content">
    <article class="footer__content-info">
      <h4 class="footer__content-info-title">
        Clima<span class="footer__content-info-title--highlight">Tour</span>
      </h4>
      <p class="footer__content-info-description">
        Your Ultimate Weather-Based Adventure Planner!
      </p>
    </article>
    <article class="footer__content-links">
      <p class="footer__content-links-title">Quick Links:</p>
      <ul class="footer__content-links-list">
        <li><a href="">Home</a></li>
        <li><a href="">Destinations</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Prediction</a></li>
      </ul>
    </article>
  </section>
  <section class="footer__copyright">
    <hr class="footer__copyright-divider" />
    <article class="footer__copyright-text">
      <p>© 2024 ClimaTour. All rights reserved.</p>
      <p>
        Discover, Plan, and Enjoy the Best Activities, No Matter the Weather!
      </p>
    </article>
  </section>
</footer>
