<section class="infoDestination">
  <article class="infoDestination__divider">
    <hr class="infoDestination__divider-line" />
    <p class="infoDestination__divider-text">FEATURED DESTINATION</p>
  </article>
  <h3 class="infoDestination__title">
    Explore the beauty and diversity of Colombia’s top destinations,
    <span class="infoDestination__title--highlight"
      >where climate and adventure go hand in hand.</span
    >
  </h3>
  <section class="infoDestination__content">
    <section class="infoDestination__content-cities">
      <article class="infoDestination__content-cities-city">
        <p class="infoDestination__content-cities-city-text">
          Cartagena de indias, Bolivar
        </p>
        <span class="infoDestination__content-cities-city-span">Colonial</span>
      </article>
      <article class="infoDestination__content-cities-city">
        <p class="infoDestination__content-cities-city-text">
          Tayrona National Park, Magdalena
        </p>
        <span class="infoDestination__content-cities-city-span">Nature</span>
      </article>
      <article class="infoDestination__content-cities-city">
        <p class="infoDestination__content-cities-city-text">
          Salento, Quindio
        </p>
        <span class="infoDestination__content-cities-city-span">Coffe</span>
      </article>
      <article class="infoDestination__content-cities-city">
        <p class="infoDestination__content-cities-city-text">
          San Andrés Island and Providencia
        </p>
        <span class="infoDestination__content-cities-city-span">Beach</span>
      </article>
    </section>
    <section>
      @defer () {
      <app-carousel />
      }
    </section>
  </section>
</section>
