<main class="main">
  <img [src]="backGroundUrl" alt="menu logo" class="main__img" />
  <article class="main__content">
    <h2 class="main__content-title">
      Discover the climate and plan your activities
    </h2>
    <p class="main__content-description">
      Get AI-powered weather forecasts and personalized recommendations for your
      city.
    </p>
    <button class="main__content-button">
      <span>Let's start!</span>
      <div class="main__content-button-circle">
        <mat-icon class="main__content-button-circle-icon"
          >arrow_forward</mat-icon
        >
      </div>
    </button>
  </article>
</main>
