<main class="main">
  <img [src]="backGroundUrl" alt="menu logo" class="main__img" />
  <article class="main__content">
    <h2 class="main__content-title">
      Discover the climate and plan your activities
    </h2>
    <p class="main__content-description">
      Get AI-powered weather forecasts and personalized recommendations for your
      city.
    </p>
    <a
      class="main__content-button"
      routerLink="/prediction"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span>Let's start!</span>
      <div class="main__content-button-circle">
        <img
          class="main__content-button-circle-svg"
          src="icons/arrow_forward.svg"
          alt="arrow-forward"
        />
      </div>
    </a>
  </article>
</main>
